* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    padding-top: 75px;
    min-height: 100vh;
    margin: 0;
    background-color: #579dff;
    font-size: 19px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    background-color: #579dff;
    font-size: 36px;
    font-weight: bold;
    color: white;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.paragraph {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.paragraph img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.paragraph p {
    margin: 0;
    line-height: 1.6;
}

/* NAVBAR */

ul.navbar {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #ff54da;
    z-index: 1000;
    padding: 0;
}

ul.navbar li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

ul.navbar a {
    color: #262626;
    text-decoration: none;
    font-size: 26px;
    transition: 0.25s;
    font-weight: bold;
    display: block;
    padding: 20px 18px;
}

ul.navbar a:hover {
    color: white;
}

ul.navbar i {
    font-size: 40px;
    line-height: 1;
}

ul.navbar .homeicon {
    font-size: min(55px, 8vw);
    line-height: 1;
}

.navbar a[aria-current="page"] {
    background-color: #579dff;
    color: white;
    font-weight: bold;
}

.text {
    background-color: #262626;
    color: white;
    flex: 1;
    padding: 20px 60px;
}

@media (max-width: 768px) {
    .level {
        display: flex; 
        flex-direction: column;
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
    body {
        -webkit-transform: rotate(90deg);
    }
}