* {
    box-sizing: border-box;
    margin: 0; padding: 0; 
}

body {
    overflow-x:hidden;
    width: 100vw;
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    padding-top: 15vh;
    min-height: 100vh;
    margin: 0;
    background-color: #579dff;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    background-color: #579dff;
    font-size: 2.5vw; 
    font-weight: bold;
    color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.paragraph {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.paragraph img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.paragraph p {
    margin: 0;
    line-height: 1.6;
}

/* NAVBAR */

ul.navbar {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    background-color: #ff54da;
    z-index: 1000;
    padding: 0;
}

ul.navbar li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

ul.navbar a {
    color: #262626;
    text-decoration: none;
    font-size: 2vw; 
    transition: 0.25s;
    font-weight: bold;
    display: block;
    padding: 6.5vh 2vw; 
    margin: 0; 
}

ul.navbar a:hover {
    color: white;
}

ul.navbar i {
    font-size: 2.5vw;
    line-height: 1;
}

ul.navbar .homeicon {
    font-size: min(5vw, 8vw);
    line-height: 1;
}

.navbar a[aria-current="page"] {
    background-color: #579dff;
    color: white;
    font-weight: bold;
}

.text {
    background-color: #262626;
    color: white;
    flex: 1;
    padding: 20px 60px;
}

footer {
    text-align: center;
    padding: 2vw 5vh;
}

@media (max-width: 768px) {
    .level {
        display: flex; 
        flex-direction: column;
    }

    ul.navbar {
        font-size: 5vw; 
        gap: 1vw;
    }
};