* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    overflow-x: hidden; overflow-y: hidden;
    color: #262626;
    background-color: white;
    width: 100vw; height: 100vh;
    font-family: 'Bricolage Grotesque', sans-serif;
    background-size: contain; background-repeat: repeat-x;
}

button {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.5vw;
    border-style: none;
    border-radius: 5px;
    margin: 1vh; padding: 5px;
    height: auto; 
}

#directions {
    color: #262626; background-color: white;
    z-index: 1200; 
}

.indented {
    text-indent: 5vw; 
}

/* NAVBAR */

ul.navbar {
    background-color: #262626; color: white; 
    list-style: none;
    margin: 0;
    padding-right: 5vw; padding-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    z-index: 1000;
    gap: 82vw; 
}

ul.navbar li {
    margin: 0 10px;
    display: flex;
    padding: 1vw 1vw;
}

ul.navbar a {
    color: inherit; 
    text-decoration: none;
    font-size: 2vw;
    transition: 0.25s;
    font-weight: bold;
}

ul.navbar i {
    font-size: 2.5vw; 
    line-height: 1;
}

ul.navbar .homeicon {
    font-size: min(3.5vw, 8vw);
    line-height: 1;
}

p#level_details {
    font-size: 1.75vw;
}

/* SPRITE */

#sprite {
    position: absolute;
    display: flex; 
    width: auto; height: 35vh; 
    z-index: 500;
    left: 10vw; top: 52vh;
}

@keyframes level1animation{
    50% {transform: translateX(50px); opacity: 25%;}
    75% {opacity: 75%;}
    100% {transform: translateX(100px); opacity: 100%;}
}

@keyframes level2animation {
    20% {transform: scaleX(-1);}
    40% {transform: scaleX(-1) translateX(-100px);}
    60% {transform: scaleX(1);}
    80% {transform: scaleX(1) translateX(-100px);}
    100% {transform: scaleX(1) translateX(0px);}
}

@keyframes level3animation {
    33% {transform: rotate(-90deg);}
    66% {display: flexbox;}
    100% {align-items: center;}
}

/* GAME PROPER */
#directions {
    width: 70vw; right: 15vw; position: fixed; top: 1vh;
    height: 10vh; 
    text-align: center; 
    border-radius: 5px;
    background-color: white;
    font-size: 1.5vw;  
}

#code_area {
    font-size: 1.5vw; 
    position: absolute; 
    right: 5vw; top: 20vh; 
    color: white; background-color: #262626;
    padding: 1%; border-radius: 5px;
    height: 60vh; width: 45vw; 
}

li {
    display: flex; 
}

input {
    width: 10vw;
}

/* PROGRESS BAR */ 
#progress_bar {
    background-color: #262626;
    position: absolute; display: flex; 
    height: 5vh; width: 87vw; 
    right: 6.5vw; bottom: 3vh; 
    border-radius: 5px; 
    border-style: solid; border-color: #262626;
}

#bar1 {
    z-index: 3;
    width: 29vw; 
}

#bar2 {
    z-index: 2;
    width: 29vw; 
}

#bar3 {
    z-index: 1;
    width: 29vw; 
}

/* BUTTON STYLING */

button.level1 {
    background-color: #579dff;
    color: white; 
}

button.level2 {
    background-color: #08ff98;
    color: #262626;
}

button.level3 {
    background-color: #ffee0b;
    color: #262626;
}

@media (max-width: 613px) {
    body {
        background-size: cover;
    }
}   

/* NOTIF BAR - style to be fixed*/ 

/* #notif_bar {
    top: 12vh; 
    width: 20vw; height: 100vw;
    float: right; 
    opacity: 0; 
}

#notif_bar > p {
    z-index: 100000;
    color: white; background-color: #262626;
    border: 10px; border-color: #262626; border-radius: 5px;
    margin: 5px; padding: 5px;  
}

@keyframes transparency {
    50% {opacity: 0.5;}
    100% {opacity: 0;}
}

*/


