* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    overflow-x: hidden; overflow-y: hidden;
    color: #262626;
    background-color: white;
    width: 100vw; height: 100vh;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 22px;
    padding-top: 75px; /* make space for fixed navbar */
}

/* NAVBAR */

ul.navbar {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: inherit;
    z-index: 1000;
    gap: 82vw; 
}

ul.navbar li {
    margin: 0 10px;
    display: flex;
    padding: 5px 5px;
}

ul.navbar a {
    color: #262626;
    text-decoration: none;
    font-size: 26px;
    transition: 0.25s;
    font-weight: bold;
}

ul.navbar i {
    font-size: 40px;
    line-height: 1;
}

ul.navbar .homeicon {
    font-size: min(55px, 8vw);
    line-height: 1;
}

#level_details {
    display: flex; 
    gap: 5px; 
}

/* INSTRUCTIONS */

ul.code_area {
    list-style-type: ">";
}

li.code_area {
    display: flex; 
}

/* SPRITE */

#sprite {
    position: absolute;
    display: flex; 
    width: auto; height: 35vh; 
    z-index: 500;
    left: 10vw; top: 52vh;
}

@keyframes level1animation{
    50% {transform: translateX(50px); opacity: 25%;}
    100% {transform: translateX(100px); opacity: 50%;}
}

/* GAME PROPER */
#directions {
    background-color: #262626; color: white; 
    width: 70vw; right: 15vw; position: fixed; top: 3vh; 
    text-align: center; 
    border-radius: 5px;
}
#code_area {
    position: absolute; 
    right: 20vw; top: 20vh; 
    color: white; background-color: #262626;
    padding: 1%; border-radius: 5px;
}

#progress_bar {
    background-color: #262626;
    position: absolute; display: flex; 
    height: 5vh; width: 87vw; 
    right: 6.5vw; bottom: 3vh; 
    border-radius: 5px; 
}

#bar1 {
    z-index: 3;
    width: 29vw; 
}

#bar2 {
    z-index: 2;
    width: 29vw; 
}

#bar3 {
    z-index: 1;
    width: 29vw; 
}